*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-itens{
    list-style: none;
    display: flex;
    padding: 10px 15px;
    gap: 10px;
    
    
}
.nav-itens>a>li{
    padding-right: 30px;
    color: aliceblue;
}

nav{
    display: flex;
    justify-content: space-around;
    font-family: "Noto Sans JP", serif;
    color: aliceblue;
    background-color:rgb(8, 10, 10);
    align-items: center;
    border: 2px  solid #f3eeee;
    
}

.logo{
    font-weight: 800;
    font-size: 28px;
    margin: 0px;
}

.logo:hover{
    font-size: 30px;
    cursor: pointer;
}

.nav-itens>a{
    text-decoration: none;
    color: black;
    
}

.itens{
    border: 1px solid rgb(240, 239, 239);
    border-radius: 10px;
    padding-left: 30px;
}

.itens:hover{
    background-color: rgb(73, 177, 113);

}

main{
    color: #f3eeee;
    background-color: black;
    padding-top: 100px;
}

h1{
    text-align: center;
}
section{
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 3s;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.show{
    opacity: 1;
    transition: all 3s;
    filter: blur(0);
    transform: translateX(0);
}
h2{
    font-size: 50px;

}

h3{
    font-size: 30px;
    width: 490px;
    border: 2px solid white
    
}

